<footer>
    <div class="footer-wrapper footer-grid">
        <div>
            <img src="/static/images/Logo.png" alt="">
        </div>
        <div>
            <p class="footer__title">О нас</p>
            <ul>
                <li><a href="">Производство</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Вакансии</a></li>
                <li><a href="">Реквизиты</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Таблица цветов RAL</a></li>
                <li><a href="">Отделки ЛДСП</a></li>
            </ul>
            <a href="" class="footer__download">Скачать каталог</a>
        </div>
        <div>
            <p class="footer__title">Перегородки</p>
            <ul>
                <li><a href="">Противопожарные</a></li>
                <li><a href="">Для офиса</a></li>
                <li><a href="">Стационарные</a></li>
                <li><a href="">Стеклянные</a></li>
                <li><a href="">Алюминиевые</a></li>
                <li><a href="">Цельностеклянные</a><span class="new">new</span></li>
                <li><a href="">Раздвижные</a></li>
                <li><a href="">Лофт</a></li>
                <li><a href="">Smart-glass</a></li>
                <li><a href="">С жалюзи</a></li>
                <li><a href="">Раздвижные стены</a></li>
                <li><a href="">Раздвижные гармошки</a></li>
                <li><a href="">Звукоизолирующие</a></li>
                <li><a href="">Комбинированные с лдсп</a></li>
            </ul>
        </div>
        <div>
            <p class="footer__title">Двери</p>
            <ul>
                <li><a href="">Противопожарные</a></li>
                <li><a href="">Входные</a></li>
                <li><a href="">Автоматические</a></li>
                <li><a href="">Раздвижные</a></li>
                <li><a href="">Распашные</a></li>
                <li><a href="">Маятниковые</a></li>
                <li><a href="">Лофт</a></li>
                <li><a href="">В тонком профиле (slim)</a></li>
            </ul>
        </div>
        <div>
            <p class="footer__title">Конструкции</p>
            <ul>
                <li><a href="">Стеклянные козырьки</a></li>
                <li><a href="">Зенитные фонари</a></li>
                <li><a href="">Ограждения</a></li>
                <li><a href="">Лестницы из стекла</a></li>
                <li><a href="">Остекление шахты лифта</a></li>
                <li><a href="">Полы из стекла</a></li>
                <li><a href="">Крыши из стекла</a></li>
                <li><a href="">Душевые</a></li>
                <li><a href="">Остекление террас</a></li>
                <li><a href="">Стеклянные тамбуры</a></li>
            </ul>
        </div>
        <div>
            <p class="footer__title">Цены</p>
            <ul>
                <li><a href="">Сроки</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Выполненные</a></li>
                <li><a href="">Проекты</a></li>
            </ul>
        </div>
        <div class="grid-col6">
            <div class="header__phone">
                <div class="icon">
                    <img src="/static/images/call_white.png" alt="Phone icon">
                </div>
                <div>
                    <h5>+7 (812) 317-75-67</h5>
                    <a href="">Заказать обратный звонок</a>
                </div>
            </div>

            <button class="access-btn">Заказать звонок</button>

            <div class="header__phone">
                <div class="icon">
                    <img src="/static/images/location.png" alt="">
                </div>
                <div>
                    <h6>Санкт-Петербург
                        пр-кт Маршала Блюхера
                        д.12к7, оф.518</h6>
                </div>
            </div>

            <div class="icon">
                <img src="/static/images/fb.png" alt="">
            </div>
            <div class="icon">
                <img src="/static/images/vk.png" alt="">
            </div>
            <div class="icon">
                <img src="/static/images/insta.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-wrapper">
            <p>©Peregorodkalab 2020г.  Все права защищены</p>
            <a href="">Политика конфиденциальности</a>
        </div>
    </div>
</footer>