<header>
    <div class="header-top">
        <img src="static/images/Logo.png" alt="logo image">
        <div class="grid-wrapper">
            <div class="header__mail">
                <img src="static/images/mail.png" alt="Mail icon">
                <a href="mailto:pro@peregorodkalab.ru" rel="nofollow">pro@peregorodkalab.ru</a>
            </div>
            <div class="header__schedule">
                <img src="static/images/clock.png" alt="Clock icon">
                <span>Пн-Пт с 9:30 до 17:30</span>
            </div>
            <div class="header__sub-menu">
                <a href="">Оплата</a>
                <a href="">Монтаж</a>
                <a href="">Гарантии</a>
                <a href="">Скачать презентацию</a>
            </div>
            <div class="header__offer">
                <div class="vertical_line"></div>
                <h3>Только лучшее<br>
                    из стекла</h3>
            </div>
            <div class="header__phone">
                <div class="icon">
                    <img src="static/images/call.png" alt="Phone icon">
                </div>
                <div>
                    <h5>+7 (812) 317-75-67</h5>
                    <a href="">Заказать обратный звонок</a>
                </div>
            </div>
            <div class="header__buttons">
                <button class="btn-call_measurer">Вызвать замерщика</button>
                <div class="btn-culc">
                    <img src="../static/images/culc.png" alt="Calculator icon">
                    Калькулятор
                </div>
            </div>
        </div>
    </div>
    <nav class="menu">
        <div class="select-wrapper">
            <div class="select">
                <div class="select__trigger"><span>Одесса</span>
                    <div class="arrow"></div>
                </div>
                <div class="custom-options">
                    <span class="custom-option selected" data-value="odessa">Одесса</span>
                    <span class="custom-option" data-value="kyiv">Киев</span>
                    <span class="custom-option" data-value="stp">Санкт-Петербург</span>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <span class="menu__link">О нас</span>
            </div>
            <div class="dropdown-options">
                <ul>
                    <li><a href="">Миссия и принципы</a></li>
                    <li><a href="">Лицензии и сертификаты</a></li>
                    <li><a href="">Производство</a></li>
                    <li><a href="">Команда</a></li>
                    <li><a href="">Доставка</a></li>
                </ul>
                <ul>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Вакансии</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <span class="menu__link">Перегородки</span>
            </div>
            <div class="dropdown-options">
                <ul>
                    <li><a href="">Противопожарные</a></li>
                    <li><a href="">Для офиса</a></li>
                    <li><a href="">Стационарные</a></li>
                    <li><a href="">Стеклянные</a></li>
                    <li><a href="">Алюминиевые</a></li>
                </ul>
                <ul>
                    <li><a href="">Цельностеклянные</a></li>
                    <li><a href="">Раздвижные</a></li>
                    <li><a href="">Лофт</a></li>
                    <li><a href="">Smart-glass</a></li>
                    <li><a href="">С жалюзи</a></li>
                </ul>
                <ul>
                    <li><a href="">Раздвижные из стекла</a></li>
                    <li><a href="">Раздвижные "Гармошки"</a></li>
                    <li><a href="">Звукоизолирующие</a></li>
                    <li><a href="">Комбинированные с ЛДСП</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <span class="menu__link">Двери</span>
            </div>
            <div class="dropdown-options">
                <ul>
                    <li><a href="">Противопожарные</a></li>
                    <li><a href="">Входные</a></li>
                    <li><a href="">Автоматические</a></li>
                    <li><a href="">Распашные</a></li>
                    <li><a href="">Раздвижные</a></li>
                </ul>
                <ul>
                    <li><a href="">Лофт</a></li>
                    <li><a href="">Маятниковые</a></li>
                    <li><a href="">В тонком профиле (Slim)</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <span class="menu__link">Конструкции</span>
            </div>
            <div class="dropdown-options">
                <ul>
                    <li><a href="">Стеклянные козырьки</a></li>
                    <li><a href="">Ограждения</a></li>
                    <li><a href="">Остекленение шахты лифта</a></li>
                    <li><a href="">Остекленение терас</a></li>
                    <li><a href="">Стелянные тамбуры</a></li>
                </ul>
                <ul>
                    <li><a href="">Крыши из стекла</a></li>
                    <li><a href="">Зенитные фонари</a></li>
                    <li><a href="">Душевые</a></li>
                    <li><a href="">Пол из стекла</a></li>
                    <li><a href="">Лестницы из стекла</a></li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <a href="" class="menu__link">Акции</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <a href="" class="menu__link">Цены</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <a href="" class="menu__link">Проекты</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <a href="" class="menu__link">Новости</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown__trigger">
                <a href="" class="menu__link">Контакты</a>
            </div>
        </div>
    </nav>
</header>
