{% extends "index.html" %}
{% block content %}
    <div class="slider-container swiper-container">
        <!-- Additional required wrapper -->
        <div class="slider-wrapper swiper-wrapper">
            <!-- Slides -->
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__title"><span>Офисные перегородки</span><br>
                        в Санкт-Петербурге</p>
                    <div>
                        <div class="slide__line"></div>
                        <span>из стекла под ключ за 3 дня</span>
                    </div>
                    <p class="slide__text">Получите расчет вашего проекта всего за 1 час</p>
                    <div>
                        <button class="access-btn">Рассчитать стоимость</button>
                        <button class="secondary-btn">О производстве</button>
                    </div>
                </div>
            </div>
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__big-title">Аванс 10%</p>
                    <p class="slide__text">За 10% стоимости вы фиксируете цену до 3х месяцев, с возможностью
                        бесплатного хранения на нашем складе, получаете полный комплект чертежей
                        для строительства и бонус 20% скидки на монтаж конструкций.</p>
                    <ul class="slide__marked-list">
                        <li>10% аванс</li>
                        <li>Проект конструкции бесплатно</li>
                        <li>20% скидки на монтаж всех конструкций</li>
                        <li>До 3х месяцев Фиксация цены и Хранение готовой конструкции на складе</li>
                    </ul>
                    <button class="access-btn">Рассчитать стоимость</button>
                </div>
            </div>
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__big-title">За 3 дня под ключ</p>
                    <div>
                        <div class="slide__line"></div>
                        <span>Перегородки и двери из наличия за 3 дня.<br>
                            Только стандартная серия, Уточняйте размеры<br>
                            у менеджеров</span>
                    </div>
                    <button class="access-btn">Подробнее</button>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="slider-pagination swiper-pagination"></div>
    </div>
{#    <div class="catalog-section">#}
{#        <p class="catalog__title"><span>КАТАЛОГ</span> ОФИСНЫХ ПЕРЕГОРОДОК<br>#}
{#            И СТЕКЛЯННЫХ КОНСТРУКЦИЙ</p>#}
{##}
{#    </div>#}
{% endblock %}