{% extends "index.html" %}
{% block content %}
    <div class="slider-container swiper-container">
        <!-- Additional required wrapper -->
        <div class="slider-wrapper swiper-wrapper">
            <!-- Slides -->
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__title"><span>Офисные перегородки</span><br>
                        в Санкт-Петербурге</p>
                    <div>
                        <div class="slide__line"></div>
                        <span>из стекла под ключ за 3 дня</span>
                    </div>
                    <p class="slide__text">Получите расчет вашего проекта всего за 1 час</p>
                    <div>
                        <button class="access-btn">Рассчитать стоимость</button>
                        <button class="secondary-btn">О производстве</button>
                    </div>
                </div>
            </div>
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__big-title">Аванс 10%</p>
                    <p class="slide__text">За 10% стоимости вы фиксируете цену до 3х месяцев, с возможностью
                        бесплатного хранения на нашем складе, получаете полный комплект чертежей
                        для строительства и бонус 20% скидки на монтаж конструкций.</p>
                    <ul class="slide__marked-list">
                        <li>10% аванс</li>
                        <li>Проект конструкции бесплатно</li>
                        <li>20% скидки на монтаж всех конструкций</li>
                        <li>До 3х месяцев Фиксация цены и Хранение готовой конструкции на складе</li>
                    </ul>
                    <button class="access-btn">Рассчитать стоимость</button>
                </div>
            </div>
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__big-title">За 3 дня под ключ</p>
                    <div>
                        <div class="slide__line"></div>
                        <span>Перегородки и двери из наличия за 3 дня.<br>
                            Только стандартная серия, Уточняйте размеры<br>
                            у менеджеров</span>
                    </div>
                    <button class="access-btn">Подробнее</button>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="slider-pagination swiper-pagination"></div>
    </div>
    <div class="catalog-section">
        <p class="title"><span>КАТАЛОГ</span> ОФИСНЫХ ПЕРЕГОРОДОК<br>
            И СТЕКЛЯННЫХ КОНСТРУКЦИЙ</p>

        <div class="catalog-slider-container swiper-container">
            <div class="catalog-slider-wrapper swiper-wrapper">
                <div class="catalog-slider-slide swiper-slide">
                    <div class="catalog-slide-container">
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Противопожарные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Для офиса</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стационарные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стеклянные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Алюминиевые</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Цельностеклянные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Раздвижные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Лофт</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-slider-slide swiper-slide">
                    <div class="catalog-slide-container">
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Противопожарные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Входные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Автоматические</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Распашные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Раздвижные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Лофт</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Маятниковые</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>В тонком профиле (Slim)</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-slider-slide swiper-slide">
                    <div class="catalog-slide-container">
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стеклянные козырьки</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Ограждения</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Остекленение шахты лифта</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Остекленение терас</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стеклянные тамбуры</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Крыши из стекла</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Зенитные фонари</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Душевые</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-slider-pagination swiper-pagination"></div>
        </div>
        <button class="access-btn catalog__btn">В каталог</button>
    </div>

    <div class="why-section">
        <div class="why-section-wrapper">
            <div class="why-section-grid">
                <div class="grid-row2">
                    Почему мы
                </div>
                <div>
                    <p class="why-section__title">10 лет</p>
                    <p class="why-section__text">Создаем стеклянные конструкции
                        с уникальным дизайном для Вас с 2009 г.</p>
                </div>
                <div>
                    <p class="why-section__title">118 000 м<sup>2</sup></p>
                    <p class="why-section__text">Смонтированы и переданы
                        в эксплуатацию клиентам</p>
                </div>
                <div>
                    <p class="why-section__sub_title">более</p>
                    <span class="why-section__title">700</span>
                    <span class="why-section__sub_title">объектов</span>
                    <p class="why-section__text">От Санкт-Петербурга до Панамы
                        По России и Всему миру</p>
                </div>
                <div>
                    <p class="why-section__sub_title">входим в</p>
                    <p class="why-section__title">топ-3</p>
                    <p class="why-section__text">Строительных компаний полного цикла в СПБ.
                        От разработки проекта до монтажа.</p>
                </div>
                <div>
                    Среди наших клиентов
                </div>
                <div class="grid-col2">
                    <img src="../static/images/ulmart_logo.png">
                    <img src="../static/images/gazprom_logo.png">
                    <img src="../static/images/ermitaj_logo.png">
                    <img src="../static/images/zenit_logo.png">
                </div>
            </div>
        </div>
    </div>
    <div class="our-works-section">
        <p class="title"><span>Наши</span> работы</p>
        <div class="our-works-grid">
            <div class="our-works-grid-ceil grid-col2 grid-row2">
                <div>
                    <p>
                        <span>ООО "Кибер Системы"</span><br>
                        Юлмарт
                    </p>
                    <p>Изготовление и установка перегородок со специальным звукоизоляционным стеклом.</p>
                </div>
            </div>
            <div class="our-works-grid-ceil">
                <img src="../static/images/zenit_logo_white.png" alt="zenit logo white">
                <button class="access-btn our-works-grid__button">Подробнее</button>
            </div>
            <div class="our-works-grid-ceil"></div>
            <div class="our-works-grid-ceil">
                <p>Все проекты</p>
                <p>Более 700 проектов</p>
            </div>
            <div class="our-works-grid-ceil"></div>
        </div>
    </div>
    <div class="solution-section">
        <p class="title"><span>Решения,</span> подходящие всем</p>
    </div>
{% endblock %}