{% extends "index.html" %}
{% block content %}
    <div class="slider-container swiper-container">
        <!-- Additional required wrapper -->
        <div class="slider-wrapper swiper-wrapper">
            <!-- Slides -->
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__title"><span>Офисные перегородки</span><br>
                        в Санкт-Петербурге</p>
                    <div>
                        <div class="slide__line"></div>
                        <span>из стекла под ключ за 3 дня</span>
                    </div>
                    <p class="slide__text">Получите расчет вашего проекта всего за 1 час</p>
                    <div>
                        <button class="access-btn">Рассчитать стоимость</button>
                        <button class="secondary-btn">О производстве</button>
                    </div>
                </div>
            </div>
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__big-title">Аванс 10%</p>
                    <p class="slide__text">За 10% стоимости вы фиксируете цену до 3х месяцев, с возможностью
                        бесплатного хранения на нашем складе, получаете полный комплект чертежей
                        для строительства и бонус 20% скидки на монтаж конструкций.</p>
                    <ul class="slide__marked-list">
                        <li>10% аванс</li>
                        <li>Проект конструкции бесплатно</li>
                        <li>20% скидки на монтаж всех конструкций</li>
                        <li>До 3х месяцев Фиксация цены и Хранение готовой конструкции на складе</li>
                    </ul>
                    <button class="access-btn">Рассчитать стоимость</button>
                </div>
            </div>
            <div class="slider-slide swiper-slide">
                <div class="slide-container">
                    <p class="slide__big-title">За 3 дня под ключ</p>
                    <div>
                        <div class="slide__line"></div>
                        <span>Перегородки и двери из наличия за 3 дня.<br>
                            Только стандартная серия, Уточняйте размеры<br>
                            у менеджеров</span>
                    </div>
                    <button class="access-btn">Подробнее</button>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="slider-pagination swiper-pagination"></div>
    </div>
    <div class="catalog-section">
        <p class="title"><span>КАТАЛОГ</span> ОФИСНЫХ ПЕРЕГОРОДОК<br>
            И СТЕКЛЯННЫХ КОНСТРУКЦИЙ</p>

        <div class="catalog-slider-container swiper-container">
            <div class="catalog-slider-wrapper swiper-wrapper">
                <div class="catalog-slider-slide swiper-slide">
                    <div class="catalog-slide-container">
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Противопожарные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Для офиса</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стационарные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стеклянные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Алюминиевые</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Цельностеклянные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Раздвижные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Лофт</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-slider-slide swiper-slide">
                    <div class="catalog-slide-container">
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Противопожарные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Входные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Автоматические</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Распашные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Раздвижные</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Лофт</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Маятниковые</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>В тонком профиле (Slim)</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-slider-slide swiper-slide">
                    <div class="catalog-slide-container">
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стеклянные козырьки</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Ограждения</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Остекленение шахты лифта</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Остекленение терас</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Стеклянные тамбуры</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Крыши из стекла</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Зенитные фонари</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                        <div class="catalog__card">
                            <img src="../static/images/d.png" alt="">
                            <div class="catalog__card-bottom">
                                <p>Душевые</p>
                            </div>
                            <div class="catalog__card-overlay">
                                <p>
                                    Цена от: <span class="js-price">99 500</span> <span>РУБ./М<sup>2</sup></span>
                                </p>
                                <p>
                                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-slider-pagination swiper-pagination"></div>
        </div>
        <button class="access-btn catalog__btn">В каталог</button>
    </div>

    <div class="why-section">
        <div class="why-section-wrapper">
            <div class="why-section-grid">
                <div class="grid-row2">
                    Почему мы
                </div>
                <div>
                    <p class="why-section__title">10 лет</p>
                    <p class="why-section__text">Создаем стеклянные конструкции
                        с уникальным дизайном для Вас с 2009 г.</p>
                </div>
                <div>
                    <p class="why-section__title">118 000 м<sup>2</sup></p>
                    <p class="why-section__text">Смонтированы и переданы
                        в эксплуатацию клиентам</p>
                </div>
                <div>
                    <p class="why-section__sub_title">более</p>
                    <span class="why-section__title">700</span>
                    <span class="why-section__sub_title">объектов</span>
                    <p class="why-section__text">От Санкт-Петербурга до Панамы
                        По России и Всему миру</p>
                </div>
                <div>
                    <p class="why-section__sub_title">входим в</p>
                    <p class="why-section__title">топ-3</p>
                    <p class="why-section__text">Строительных компаний полного цикла в СПБ.
                        От разработки проекта до монтажа.</p>
                </div>
                <div>
                    Среди наших клиентов
                </div>
                <div class="grid-col2">
                    <img src="../static/images/ulmart_logo.png">
                    <img src="../static/images/gazprom_logo.png">
                    <img src="../static/images/ermitaj_logo.png">
                    <img src="../static/images/zenit_logo.png">
                </div>
            </div>
        </div>
    </div>
    <div class="our-works-section">
        <p class="title"><span>Наши</span> работы</p>
        <div class="our-works-grid">
            <div class="our-works-grid-ceil grid-col2 grid-row2">
                <div>
                    <p>
                        <span>ООО "Кибер Системы"</span><br>
                        Юлмарт
                    </p>
                    <p>Изготовление и установка перегородок со специальным звукоизоляционным стеклом.</p>
                </div>
            </div>
            <div class="our-works-grid-ceil">
                <img src="../static/images/zenit_logo_white.png" alt="zenit logo white">
                <button class="access-btn our-works-grid__button">Подробнее</button>
            </div>
            <div class="our-works-grid-ceil"></div>
            <div class="our-works-grid-ceil">
                <p>Все проекты</p>
                <p>Более 700 проектов</p>
            </div>
            <div class="our-works-grid-ceil"></div>
        </div>
    </div>
    <div class="solution-section">
        <p class="title"><span>Решения,</span> подходящие всем</p>
        <div class="solution-tabs">
            <input type="radio" class="solution-tabs__radio" name="solution__radio" id="solution__radio1" checked>
            <label for="solution__radio1" class="solution-tabs__label">
                <img src="../static/images/coins.png" alt="coins icon">
                <p>Выгоды и бонусы</p>
            </label>
            <div class="solution-tabs__content">
                <div class="solution-tabs__content-left">
                    <img src="../static/images/image42.png" alt="">
                    <div>
                        <p>Накликай себе скидку</p>
                        <p class="solution-tabs__content-sale">1.75%</p>
                        <button class="access-btn">Попытать удачу</button>
                    </div>
                </div>
                <div class="solution-tabs__content-right">
                    <p>Получить расчет с полученной скидкой</p>
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Телефон">
                    <input type="email" placeholder="E-mail">
                    <button type="submit">Получить предложение</button>
                    <p class="sub_text">* — Поля, обязательные для заполнения.
                        Заполняя эту форму, Вы соглашаетесь с <a href="">политикой конфиденциальности</a>.</p>
                </div>
            </div>

            <input type="radio" class="solution-tabs__radio" name="solution__radio" id="solution__radio2">
            <label for="solution__radio2" class="solution-tabs__label">
                <img src="../static/images/users.png" alt="users icon">
                <p>Для бизнеса и частных лиц</p>
            </label>
            <div class="solution-tabs__content">
                <img src="../static/images/image69.png" alt="">
                <div class="solution-tabs__content-right">
                    <p>Бесплатная доставка</p>
                    <p class="sub_title">В пределах КАД</p>
                    <button type="submit">Расчет с бесплатной доставкой</button>
                </div>
            </div>

            <input type="radio" class="solution-tabs__radio" name="solution__radio" id="solution__radio3">
            <label for="solution__radio3" class="solution-tabs__label">
                <img src="../static/images/compass.png" alt="compass icon">
                <p>Дизайнерам</p>
            </label>
            <div class="solution-tabs__content">
                <img src="../static/images/image28.png" alt="">
                <div class="solution-tabs__content-right">
                    <p>Мы работаем с ведущими дизайнерами и Архитекторами Санкт-Петербурга.</p>
                    <div class="v-line"><span>Присоединяйтесь к сильной команде PeregorodkaLab.ru</span></div>
                    <button type="submit">Получить партнерские условия</button>
                </div>
            </div>

            <input type="radio" class="solution-tabs__radio" name="solution__radio" id="solution__radio4">
            <label for="solution__radio4" class="solution-tabs__label">
                <img src="../static/images/architect.png" alt="architect icon">
                <p>Строительным компаниям</p>
            </label>
            <div class="solution-tabs__content">
                <img src="../static/images/image30.png" alt="">
                <div class="solution-tabs__content-right">
                    <p>Мы работаем с ведущими подрядчиками, строительными
                        и инженерными организациями Санкт-Петербурга.</p>
                    <div class="v-line"><span>Мы открыты для новых партнеров.</span></div>
                    <button type="submit">Получить партнерские условия</button>
                </div>
            </div>
        </div>
    </div>
{#    <div class="instagram-section">#}
{#        <p class="title"><span>Мы в инстаграм</span> <span class="hashtag">#peregorodkalab</span></p>#}
{#        <div class="swiper-inst swiper">#}
{#            <div class="swiper-inst-wrapper swiper-wrapper">#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-1.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-2.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-3.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-4.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-5.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-6.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-7.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-2.png" alt="">#}
{#                </div>#}
{#                <div class="swiper-inst-slide swiper-slide">#}
{#                    <img src="../static/images/image-inst-4.png" alt="">#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="swiper-button-prev"></div>#}
{#            <div class="swiper-button-next"></div>#}
{#        </div>#}
{#    </div>#}
    <div class="who-it-works-section">
        <div>
            <p class="title"><span>Схема</span>
            <br>работы</p>
        </div>
        <div>
            <p class="who-it-works__number">01</p>
            <img src="../static/images/support.png" alt=""/>
            <p class="who-it-works__subtitle">Оставляете заявку,
                консультация</p>
            <button>Оставить заявку</button>
        </div>
        <div>
            <p class="who-it-works__number">02</p>
            <img src="../static/images/calculate.png" alt=""/>
            <p class="who-it-works__subtitle">Рассчитываем стоимость, готовим КП</p>
        </div>
        <div>
            <p class="who-it-works__number">03</p>
            <img src="../static/images/contract.png" alt=""/>
            <p class="who-it-works__subtitle">Оформляем
                договор</p>
        </div>
        <div>
            <p class="who-it-works__number">04</p>
            <img src="../static/images/measuring.png" alt=""/>
            <p class="who-it-works__subtitle">Замеряем и проектируем объект</p>
        </div>
        <div>
            <p class="who-it-works__number">05</p>
            <img src="../static/images/vallet.png" alt=""/>
            <p class="who-it-works__subtitle">Вносите предоплату
                и запускаем в работу</p>
        </div>
        <div>
            <p class="who-it-works__number">06</p>
            <img src="../static/images/truck.png" alt=""/>
            <p class="who-it-works__subtitle">Производим
                доставку и монтаж</p>
        </div>
        <div>
            <p class="who-it-works__number">07</p>
            <img src="../static/images/like.png" alt=""/>
            <p class="who-it-works__subtitle">Сдача проекта</p>
        </div>
    </div>
    <div class="call-measurer-section">
        <div class="call-measurer-wrapper">
            <p class="title"><span>БЕСПЛАТНЫЙ</span>
                <br>ВЫЗОВ ЗАМЕРЩИКА</p>
            <button class="access-btn">Рассчитать стоимость</button>

            <div class="h-line"></div>
            <div class="call-measurer-grid">
                <div>
                    <img src="../static/images/construction.png" alt="">
                    <p class="call-measurer-grid__text">Подберем  конструкцию</p>
                </div>
                <div>
                    <img src="../static/images/measuring_tape.png" alt="">
                    <p class="call-measurer-grid__text">Бесплатно замерим</p>
                </div>
                <div>
                    <img src="../static/images/calculator.png" alt="">
                    <p class="call-measurer-grid__text">Быстро рассчитаем</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-company-section">
        <div class="about-company-wrapper">
            <p class="title"><span>О компании</span></p>
            <p class="about-company__subtitle">Перегородка Lab - это ведущая компания, выполняющая работы по
                проектированию и воплощению внутреннего пространства офисов, административных учреждений, жилых
                помещений. Мы с гордостью предлагаем высокий сервис обслуживания нашим клиентам и продолжительные
                гарантии на наши работы. Наш опыт работы и широкий ассортимент решений сможет удовлетворить любые
                пожелания нашего клиента.
            </p>
            <p class="about-company__link">Подробнее</p>
            <div class="about-company__details">
                <p class="about-company__text">
                    Нашу деятельность мы видим в создании полезных, современных решений (конструкций)
                    интерьерного пространства.
                </p>
                <div class="about-company-grid">
                    <div>
                        <img src="/static/images/image9.png" alt="">
                    </div>
                    <div>
                        <p class="about-company__subtitle">
                            На данный момент самым удобным и доступным способом разделения
                            пространства офиса являются перегородки.
                        </p>
                        <p class="about-company__text">
                            Сегодня во многих компаниях можно увидеть эти конструкции, выполняющие не только первоочередную
                            задачу, но и украшающие интерьер помещения. Современные офисные перегородки производятся из
                            множества материалов, что может удовлетворить совершенно любые запросы потребителей.
                            Несмотря на это, все модели обладают универсальностью. Будь то маленькая фирма, имеющее
                            небольшое помещение, или солидное предприятие, занимающее несколько этажей, — такие изделия
                            отлично впишутся в любой интерьер и воплотят различные дизайнерские задумки.
                        </p>
                    </div>
                    <div class="h-line grid-col2"></div>
                    <div>
                        <p class="about-company__subtitle">
                            Еще один немаловажный момент, способный помешать работе сотрудников — маленькое пространство.
                        </p>
                        <p class="about-company__text">
                            Нехватка места создает посторонний шум и отвлекает от трудового процесса.
                            В таком случае также помогут практичные звукоизоляционные перегородки.
                            Компактный и мобильный дизайн позволяет
                            использовать их даже в наиболее малогабаритных офисах.
                        </p>
                    </div>
                    <div>
                        <img src="/static/images/image100.png" alt="">
                    </div>
                    <div class="grid-col2">
                        <div class="about-company-grid bg-grey">
                            <div>
                                <h2>
                                    ОФИСНЫЕ ПЕРЕГОРОДКИ МОГУТ СПРАВЛЯТЬСЯ С НЕСКОЛЬКИМИ ПРОБЛЕМАМИ:
                                </h2>
                                <ul class="slide__marked-list">
                                    <li>Создание неповторимого интерьера,</li>
                                    <li>Рациональное размещение персонала,</li>
                                    <li>Повышение производительности работы.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="about-company__subtitle">
                                    Все модели классифицируются на стационарные и мобильные.
                                </p>
                                <p class="about-company__text">
                                    Второй тип применяется чаще в отличии от первого.
                                    Это объясняется тем, что при необходимости их гораздо проще и быстрее
                                    перенести либо поменять местами. Помимо этого, данные конструкции не крепятся к стенам и
                                    потолку, а соединяются между собой. Стационарные модели фактически являются межкомнатными
                                    стенами. При монтаже они фиксируются к стеновым и потолочным поверхностям.
                                    <br><br>
                                    Перед тем, как купить офисные перегородки в Санкт-Петербурге, необходимо определиться с
                                    материалом, из которого они выполнены.
                                    <br><br>
                                    Стеклянные перегородки имеют довольно стильный и оригинальный вид, а также зрительно
                                    расширяют пространство. Это самый обычный и современный способ разграничения
                                    рабочего места персонала компании.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col2">
                        <h2>ПРОЗРАЧНОСТЬ ПЕРЕГОРОДОК ДЛЯ ОФИСА ИМЕЮТ ТАКИЕ ПОЛОЖИТЕЛЬНЫЕ ХАРАКТЕРИСТИКИ, КАК:</h2>
                    </div>
                    <div>
                        <ul class="slide__marked-list">
                            <li>Эстетичный дизайн;</li>
                            <li>Практичность;</li>
                            <li>Доступная цена;</li>
                            <li>Небольшой вес;</li>
                            <li>Расширение площади на визуальном уровне;</li>
                        </ul>
                    </div>
                    <div>
                        <ul class="slide__marked-list">
                            <li>Эффективное применение естественного освещения;</li>
                            <li>Значительная экономия электрической энергии;</li>
                            <li class="multi-li">Максимальная стойкость к температурным колебаниям и воздействия механического характера.</li>
                        </ul>
                        <div class="h-line"></div>
                        <p class="about-company__subtext">
                            Также не менее востребованы среди потребителей конструкции, выполненные из алюминия.
                        </p>
                    </div>
                    <div class="grid-col2">
                        <div class="about-company-grid bg-grey">
                            <div class="grid-col2">
                                <h2>ПРЕИМУЩЕСТВА ОФИСНЫХ ПЕРЕГОРОДОК КОМПАНИИ ПЕРЕГОРОДКАЛАБ</h2>
                            </div>
                            <div>
                                <ul class="slide__marked-list">
                                    <li>Легкость;</li>
                                    <li>Высокая прочность;</li>
                                    <li class="multi-li">Стойкость к повышенным нагрузкам и образованию коррозии;</li>
                                </ul>
                            </div>
                            <div>
                                <ul class="slide__marked-list">
                                    <li>Удобство и быстрота монтажа;</li>
                                    <li>Привлекательный дизайн;</li>
                                    <li>Относительно низкая стоимость.</li>
                                </ul>
                            </div>
                            <div class="h-line grid-col2"></div>
                            <div>
                                <img src="/static/images/image11.png" alt="">
                            </div>
                            <div>
                                <p class="about-company__subtitle">
                                    При выборе изделий особое внимание рекомендуется уделить компании-производителю.
                                    Разумнее всего выбирать проверенные фирмы, зарекомендовавшие себя в качестве надежных
                                    поставщиков. Наша организация, занимающая проектированием офисных перегородок, предоставляет
                                    богатый ассортимент качественных конструкций различного размера.
                                </p>
                                <p class="about-company__text">
                                    Опытные менеджеры помогут подобрать подходящий вариант.
                                    У нас вы сможете купить перегородки по самым выгодным ценам.
                                    По любому заказу проектируется и создается индивидуальная система,
                                    максимально соответствующая пожеланиям и запросам покупателя. Мы специализируемся на
                                    производстве перегородок в офисные помещения, выполненных в самых различных стилях,
                                    которые идеально сочетаются с любым интерьером. Длительный опыт работы на рынке и
                                    профессионализм наших мастеров позволяет нам выполнять заказы в максимально кроткие
                                    сроки на высочайшем уровне.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col2">
                        <h2>ТИПЫ ОФИСНЫХ ПЕРЕГОРОДОК</h2>
                        <p class="about-company__subtitle">Конструкции для перегородок бывают двух
                            <br> основных видов:</p>
                    </div>
                    <div>
                        <p class="number">01</p>
                        <p class="about-company__subtitle">
                            Стационарные
                        </p>
                        <p class="about-company__text">
                            При монтаже крепятся к стенам и потолку, не предназначены к демонтажу и перемещению.
                            Эти модели выполняют все функции межкомнатных простенков: обеспечивают звукоизоляцию и
                            теплоизоляцию обособленных зон, позволяют создать в них комфортный микроклимат.
                        </p>
                    </div>
                    <div>
                        <p class="number">02</p>
                        <p class="about-company__subtitle">
                            Мобильные
                        </p>
                        <p class="about-company__text">
                            Эти конструкции не крепятся к стенам и потолку, поэтому остается возможность переместить
                            их без трудоемкого демонтажа. Они идеально подходят для зонирования помещений, в которых
                            не планируется проводить капитальную перепланировку.
                        </p>
                    </div>
                    <div class="h-line grid-col2"></div>
                    <div class="grid-col2">
                        <p class="about-company__subtext">
                            Если есть необходимость скрыть происходящее за офисными перегородками от
                            сторонних наблюдателей, они обрабатываются пескоструем, декорируются фотопечатью и т. д.
                            Это делает их не просто строительными конструкциями, но и элементом офисного или
                            домашнего интерьера.
                            <br><br>
                            По способу открывания изделия могут быть традиционными распашными,
                            раздвижными, маятниковыми и другими.
                        </p>
                    </div>
                    <div class="grid-col2">
                        <div class="about-company-grid bg-grey bg-last">
                            <div class="grid-col2">
                                <h2>5 ПРИЧИН ЗАКАЗАТЬ ОФИСНУЮ ПЕРЕГОРОДКУ В КОМПАНИИ «ПЕРЕГОРОДКА LAB»:</h2>
                            </div>
                            <div>
                                <p class="number black">01</p>
                            </div>
                            <div>
                                <p class="about-company-text">
                                    Опыт успешной работы с 2008 года. Сегодня в нашей команде 27 квалифицированных
                                    сотрудников: менеджеров по работе с клиентами, дизайнеров и монтажников. Полный
                                    производственный цикл проводится на собственных мощностях предприятия. Выполняется
                                    весь комплекс работ от проектирования до монтажа и сервисного обслуживания, доставка
                                    продукции грузовым автомобилем Ford Transit.
                                </p>
                            </div>
                            <div>
                                <p class="number black">02</p>
                            </div>
                            <div>
                                <p class="about-company-text">
                                    Использование качественных комплектующих. Материалы для производства поставляются
                                    непосредственно от производителей с безупречной рекомендацией.
                                </p>
                            </div>
                            <div>
                                <p class="number black">03</p>
                            </div>
                            <div>
                                <p class="about-company-text">
                                    Индивидуальный подход. Поскольку для зонирования помещений практически нет
                                    стандартных решений, стеклянные перегородки изготавливаются индивидуально под
                                    каждый объект.Учитываются все требования и пожелания клиентов.
                                </p>
                            </div>
                            <div>
                                <p class="number black">04</p>
                            </div>
                            <div>
                                <p class="about-company__subtitle">
                                    Наличие сертификатов, допусков и разрешений. В нашем активе:
                                </p>
                                <ul class="slide__marked-list">
                                    <li>Cертификат московского завода-производителя противопожарных стеклянных конструкций «Фототех»;</li>
                                    <li>Лицензии МЧС на монтаж противопожарных конструкций из стекла;</li>
                                    <li>Допуск СРО на монтажные работы.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="number black">05</p>
                            </div>
                            <div>
                                <p class="about-company-text">
                                    Цены от производителя. Мы открыты для обсуждения специальных условий <br>
                                    для постоянных и оптовых заказчиков.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}